.item {
  background: green;
  margin: 5px;
  padding: 50px;
}

/* Propriedades para o elemento-pai */
/*flex-direction*/

.flex-container {
  display: flex;
  flex-direction: row; /* row (padrão): esquerda para a direita em ltr (left to right), direita para a esquerda em rtl (right to left)*/
}
