.item {
  background: rosybrown;
  margin: 5px;
  padding: 50px;
}

/* Propriedades para o elemento-pai */
/*flex-direction*/

.flex-container {
  display: flex;
  flex-direction: column-reverse; /*column-reverse: mesmo que row-reverse mas de baixo para cima*/
}
