* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 

> body {
  background-image: url(/assets/images/posto-gasolina.jpg);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  

 

  > main {
    > div {
      align-items: center;
      // width: 35%;
      display: flex;
      flex-direction: column;
      margin: 5rem auto;
      padding: 2rem 2rem;

      // @media screen and (min-width:375px) {
      //   width: 100%;
      // }
      // @media screen and (min-width:768px) {
      //   width: 100%;
      // }

      > img {
        display: block;
        width: 400px;
  
      }
      
      > form {
        text-align: center;

        > input {
          border-radius: .15rem;
          font-size: .7rem;
          margin: .4rem 0;
          padding: .3rem 1.1rem;
          
        }

        > .input-button {
          font-weight: normal;
        }

        > .input-button:hover {
          background-color: #ccc7c7;
        }
      }
    }
  }
}
}