.cabecalho {
  display: flex; /*Automaticamente o .logo e o .menu ficam um do lado do outro.*/
  justify-content: space-between; /*Aloca espaço a direita que fica entre os itens*/
}

/* 

Opinião do instrutor:  

Primeiro devemos colocar display: flex no pai, para isso fariamos:

.cabecalho {
  display: flex;
}

Agora automaticamente o .logo e o .menu ficam um do lado do outro.

Dessa forma deve sobrar bastante espaço à direita deles. Para alocar todo esse espaço que está a direita para ficar entre eles devemos colocar a propriedade

justify-content: space-between

No .cabecalho, ou seja, no pai.

O código para isso ficaria assim:

.cabecalho {
  display: flex;
  justify-content: space-between;
}

*/
