.flex-container {
  display: flex;
  justify-content: center; /* Colocar todo espaço à esquerda e à direita, jogando o conteúdo para o meio com justify-content: center. */
}

.item {
  background: pink;
  margin: 15px;
  padding: 40px;
}
