.flex-container {
  display: flex;
  justify-content: space-around; /* E uma possibilidade bem interessante também é colocar o espaço em volta dos elementos. Podemos usar o justify-content: space-around para isso. */
}

.item {
  background: pink;
  margin: 15px;
  padding: 40px;
}
