* {
  background: #e9967a;
  margin: 0px;
  padding: 0px;
}
header {
  margin: 10px;
  padding-bottom: 150px;
}

main {
  text-align: center;
  width: 100%;
}

img {
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

h1 {
  padding-bottom: 20px;
}

footer {
  margin-top: 340px;
  padding: 15px;
  background: #000;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}