.grid {
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 50px;
  width: 50px;
  background-color: green;
}

/* 

Opinião do Instrutor: 

Para organizar esse código HTML e fazermos um grid ( pensando apenas em posicionamento ) podemos escrever o seguinte código CSS:

.grid {
  display: flex;
  flex-wrap: wrap;
}

Dessa forma todos os elementos filhos ficariam um do lado do outro e quando chegassem ao limite da página quebrariam para a linha de baixo, formando assim o grid.

Repare que não consertamos margins ainda, os elementos provavelmente ficariam colados.

*/
