.item {
  background: chocolate;
  margin: 5px;
  padding: 50px;
}

/* Propriedades para o elemento-pai */
/*flex-direction*/

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse; /*wrap-reverse: os flex items vão quebrar em múltiplas linhas de baixo para cima*/
}
