/* .flexContainer:last-child {
  margin-top: 2em;
} */

.flexContainer {
  margin-top: 2em;
}

body {
  margin: 0;
  padding: 0;
}

div {
  height: 50px;
  width: 50px;
}
div:nth-child(1) {
  background-color: red;
  width: 50px;
  height: 50px;
}
div:nth-child(2) {
  background-color: blue;
}
div:nth-child(3) {
  background-color: green;
}
div:nth-child(4) {
  background-color: yellow;
}
div:nth-child(5) {
  background-color: pink;
}
div:nth-child(6) {
  background-color: black;
}
div:nth-child(7) {
  background-color: orange;
}
div:nth-child(8) {
  background-color: silver;
}
/*fim do setup */

.flexContainer {
  display: flex;
  /* justify-content: space-around;
  align-items: center;
  flex-direction: column; */
}

/* O flex-shrink serve para diminuir as coisas */
/* 4 divs cada uma com 50px de largura totaliza 200px */
/* Se colocarmos no modo responsivo com a tela com 200px de largura, ela fica no tamanho original */

/* O flex-shrink funciona quando diminuimos o elemento mais do que o tamanho dele  */

/* Colocamos no responsivo 100px na tela, ou seja, cortamos pela metade e todos os elementos diminuiram*/
/* O que aconteceu? */
/* Para ocupar 100, eles tiveram que cair para a metade do tamanho */
/* O primeiro, segundo, terceiro e quarto elemento passaram a ter 25px, totaliza 100px. Todos diminuiram igualmente */

/* Agora vamos fazer um exemplo com um diminuindo mais e outros menos */

.flexItem {
  /* Não acontece nada, todos continuam iguais porque o padrão do flex-shrink é 1  */
  flex-shrink: 1;
}

.primeiro {
  /* O primeiro elemento diminui duas vezes mais que os outros */
  flex-shrink: 2;

  /* O primeiro elemento está com 10px  */
  /* O segundo, terceiro e quarto elemento estão com 30px */
}

/* Qual conta aconteceu por trás?  */

/* Estava em 200px no responsivo, diminuimos para 100px, metade do tamanho */
/* O navegador vai pegar a quantidade de flex-shrink que temos: */
/* 1º elemento tem 2 */
/* 2º tem mais +1 */
/* 3º mais +1 */
/* 4º elemento tem +1 */

/* Totaliza 5 flex-shrink*/
/* Diminuimos 100px. Pega 100 e divide por 5. Vai dar 20px */
/* 100 / 5 = 20 */
/* Ele pegou esses 20px e diminuiu esses 20px do elemento */

/* O primeiro elemento tem flex-shrink 2, então ele diminuiu duas vezes esse 20px, ou seja, diminuiu 40px*/
/* Todos os elementos por padrão tinham 50px [50 - 40 = 10]  */
/* Os outros elementos estão com flex-shrink 1, então uma fatia equivale a 20px */
/* Segundo elemento tinha 50px, menos 20px, fica com 30px */
/* O terceiro e o quarto a mesma coisa */
/* Distribuiu igualmente para o segundo, terceiro e quarto elemento. 30px para cada.  */

/* OBS: 
flex-shrink zero não diminui, mantém o tamanho dos elementos. Isso pode quebrar muita coisa no layout e por isso não é tanto recomendado */

/* OBS: 
flex-srink 1 por padrão todo mundo diminui igualmente */


