.cabecalho {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Para celular: telas menores */

/* Quando a tela for maior que zero  */
@media screen and (min-width: 0) {
  .cabecalho {
    justify-content: center;
    padding: 0 1rem; /*Espaçamento só nas laterais*/
  }
}

/* Quando a tela for maior que 768px */
@media screen and (min-width: 768px) {
  .cabecalho {
    padding: 0 5rem;
    justify-content: space-between;
  }
}
