header {
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li:last-child a {
  margin-right: 0;
}

header nav ul li a {
  color: #808080;
  margin-left: 1.25rem;
  text-decoration: none;
  text-transform: lowercase;
}

header nav ul li a#ativo {
  color: #333333;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}
