/* CABEÇALHO */

.cabecalhoPrincipal .container {
  display: flex; /* Agora esse container é um flexbox/caixa flex */
  align-items: center; /* Alinha verticalmente no centro*/
  justify-content: space-between; /* Distribui o espaço que sobra entre os elementos */
}

.cabecalhoPrincipal-nav {
  display: flex; /* Para espaçar os elementos <a> </a> colocar um margin para eles. */
}

/* MAIN - CONTEÚDO PRINCIPAl */

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap; /* Seus filhos li quebram para a próxima linha porque não teve tamanho*/
  /* justify-content: space-between;  Não ajuda, temos que fazer contas*/
}

.conteudoPrincipal-cursos-link {
  width: 23%;
  /* Definimos o temanho porque os itens ficaram minúsculos. O elemento li não estava conseguindo calcular o tamanho dele porque os links (tag a) estão com position: absolute; O position absolute tira os elementos do fluxo da página. Ao tirar o elemento a, esse link do fluxo o pai dele que é o li não consegue mais calcular o tamanho. Por isso definimos um tamanho. */
  margin: 1%;
}

/* Retirar margem a direita dos elementos que são múltiplos de 4 [4, 8, 12, 16] com o nth-child(4n) */
.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

/* Quero retirar também a margem a esqueda dos elementos que vem depois dos múltiplos de 4, já que vem logo depois, basta colocar o (4n+1)

O primeiro elemento também entra porque começa com 0.

n= 0 -> 4x0 = 0 [0 + 1 = 1] 
n= 1 -> 4x1 = 4 [4 + 1 = 5] 
n= 2 -> 4x2 = 8 [8 + 1 = 9] 
*/
.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
  margin-left: 0;
}

.videoSobre .container {
  display: flex;
  justify-content: space-between;
}

.videoSobre-sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2; /* Pede para o flex-item cresça o tamanho que sobrou na página*/
}

.videoSobre-sobre-list {
  flex-grow: 1; /* Jogou o botão para baixo para seguir fielmente o layout. Agora a lista está ocupando todo o espaço, ou seja, o espaço vazio que tinha embaixo foi incorporado a lista*/
}

.videoSobre-video {
  flex-grow: 1; /* Vídeo aumentou um pouco porque distribuímos o espaço tanto pra ele quanto pro vantagens */
  flex-shrink: 2; /* Vídeo diminui duas vezes mais do que os outros flex-items conforme diminui a tela */
}

/* flex-grow é dividido entre os flex-items definidos */

/* FOOTER PRINCIPAL */

.rodapePrincipal-navMap-list {
  display: flex;
  /*flex-direction: column;
  flex-wrap: wrap; Quando não couber mais no elemento pai e ultrapassar, quebra para a próxima coluna*/
  height: 252px; /* Tem que dar uma altura para o elemento ir para o lado - Ultrapassou, não coube no elemento pai*/
  flex-flow: column wrap; /*Atalho para flex-direction e flex-wrap: siga a direção column e depois faça um wrap*/
}

/* FOOTER */

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  /* Os filhos dessa div que são o input e o button pegam o mesmo tamanho, alinha o tamanho/altura dos elementos*/
  /* Colocando o display:flex no pai, os filhos ficam com a mesma altura, o mesmo height*/
  display: flex; /* Deixa o botão (button) do mesmo tamanho do input */
}

/* PARTE MOBILE */

@media (max-width: 768px) {
  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial; /* Mudou a direção para column, então colocamos o valor inicial do ilign-items esticadão sem alinhar no centro*/
    text-align: center; /* Alinhar apenas o texto ao centro*/
  }

  .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto; /*Estava definido um height, então ele ultrapassa o container. O auto calcula o tamanho sozinho, e aí no mobile ele ficar certinho*/
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
  }

  .rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
  }

  .rodapePrincipal-contatoForm {
    width: 100%;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }

  .cabecalhoPrincipal-nav-link-app {
    order: -1;
    /*Joga o elemento Nosso APP pra cima na versão mobile*/
    /* Por padrão todos os flex-items tem ordem 0. Para deixar uma ordem que venha antes de todo mundo, colocar um número menor que 0. Por exemplo: -1
    
    Se quiser colocar depois de todo mundo colocar um item maior que 0. Por exemplo: 1*/
  }
  .videoSobre .container {
    flex-direction: column;
  }
  .videoSobre-video {
    margin: 0 auto; /* Para centralizar vídeo, tendo em vista que um iframe é display block*/
  }
}
