.banner__imagem {
  background: url(../../img/banner.jpg) no-repeat center / cover;

  width: 100%;
}

@media screen and (min-width: 0) {
  .banner__imagem {
    height: calc(100vh - 51px);
  }
}

@media screen and (min-width: 768px) {
  .banner__imagem {
    height: calc(
      100vh - 72px
    ); /* 100vh é o tamanho da altura da janela do navegador, mas temos que fazer um cálculo para desconsiderar o tamanho do cabeçalho que tem 72px de altura*/
  }
}
