/* 

EXERCÍCIO:

O flex permite que nós possamos alterar muitas coisas nos elementos, seja distribuição dos espaços, tamanhos, direção de renderização e alinhamento. Além de tudo isso também podemos mudar o sentido nos quais os nossos elementos são renderizados. Faça o teste. Abra nossa página principal do site index.html, lembra do grid que fizemos? O CSS que usamos deve estar assim:

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

Mude agora o flex-wrap. Coloque flex-wrap: wrap-reverse.

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap-reverse;
}

Tudo que estava em baixo foi para cima! Ele inverteu a ordem das linhas!
Tente agora:

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

Repare que agora ele inverteu a ordem dos elementos nas linhas.
Podemos usar também flex-direction: column-reverse nos casos em que usamos flex-direction: column. Ele inverterá a ordem!

*/



/* CABEÇALHO */

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

/* MAIN - CONTEÚDO PRINCIPAl */

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap-reverse; /* Inverte a ordem das linhas! */
  flex-direction: row-reverse;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
  margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
  margin-left: 0;
}

.videoSobre .container {
  display: flex;
  justify-content: space-between;
}

.videoSobre-sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.videoSobre-sobre-list {
  flex-grow: 1;
}

.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2;
}

/* FOOTER PRINCIPAL */

.rodapePrincipal-navMap-list {
  display: flex;
  height: 252px;
  flex-flow: column wrap;
}

/* FOOTER */

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

/* PARTE MOBILE */

@media (max-width: 768px) {
  .cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
  }

  .rodapePrincipal-patrocinadores-list {
    margin: 0;
    width: 100%;
  }

  .rodapePrincipal-contatoForm {
    width: 100%;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }

  .cabecalhoPrincipal-nav-link-app {
    order: -1;
  }
  .videoSobre .container {
    flex-direction: column;
  }
  .videoSobre-video {
    margin: 0 auto;
  }
}
